@*@model IEnumerable<WebApplication2.Models.BooksViewModel>*@
@model System.Data.DataTable
@{
    ViewData["BookTitle"] = "List Of Book";
}

<div class="jumbotron">
    <h1 class="text-center">@ViewData["BookTitle"]</h1>
</div>


<table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>
                    BookTitle
                </th>
                <th>
                    BookAutor
                </th>
                <th>
                    BookPrice
                </th>
                <th>
                    <a asp-action="AddOrEdit">Create New</a>
                </th>
            </tr>
        </thead>
        <tbody>
    @for (int i = 0; i < Model.Rows.Count; i++)
     {
            <tr>
                <td>
                    @Model.Rows[i]["BookTitle"]
                </td>
                <td>
                    @Model.Rows[i]["BookAutor"]
                </td>
                <td>
                    @Model.Rows[i]["BookPrice"]
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@Model.Rows[i]["BookID"]">AddOrEdit</a>  |
                    <a asp-action="Delete" asp-route-id="@Model.Rows[i]["BookID"]">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
